@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gotham-pro';
  src: url('assets/fonts/gotham-pro.eot?') format('eot'),
    url('assets/fonts/gotham-pro.otf') format('opentype'),
    url('assets/fonts/gotham-pro.woff') format('woff'),
    url('assets/fonts/gotham-pro.ttf') format('truetype'),
    url('assets/fonts/gotham-pro.svg#gotham-pro') format('svg');
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'gotham-pro';
}
