@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GothamPro-Black";
  src: url("assets/fonts/GothamPro-Black.eot?") format("eot"),
    url("assets/fonts/GothamPro-Black.otf") format("opentype"),
    url("assets/fonts/GothamPro-Black.woff") format("woff"),
    url("assets/fonts/GothamPro-Black.ttf") format("truetype"),
    url("assets/fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "GothamPro-Black";
}
